
{% extends "base_bootstrap.html" %}

{% block navbar %}
    {% include "vehicles/navbar.html" %}
    {% endblock %}
    
    {% block content %}
    {% include "vehicles/base_table.html" %}


    <p>

    <p>
      <a href="{% url 'vehicles:make_list' %}">View makes</a>  |
      <a href="{% url 'vehicles:make_create' %}">Add a make</a>
    </p>
    <p>
      <a href="{% url 'vehicles:year_list' %}">View years</a> |
      <a href="{% url 'vehicles:year_create' %}">Add a year</a>
    </p>
    <p>
      <a href="{% url 'vehicles:model_list' %}">View models</a> |
      <a href="{% url 'vehicles:model_create' %}">Add a model</a>
    </p>
    <p>
      <a href="{% url 'vehicles:segment_list' %}">View Segments</a> |
      <a href="{% url 'vehicles:segment_create' %}">Add a segment</a>
    </p>
{% endblock %}
