{% extends "base_bootstrap.html" %}

{% block content %}
{% load crispy_forms_tags %}

<style>
    .centered-form {
        max-width: 600px; /* Establece el ancho máximo deseado */
        margin: 0 auto; /* Centra el formulario horizontalmente */
    }
</style>

<form action="" method="post" class="centered-form">
    {% csrf_token %}
    
    <!-- Formulario de la parte -->
    {{ part_form|crispy }}

    <!-- Formulario de propiedades -->
    <h3>Properties</h3>
    {{ part_property_formset.management_form }}
    {% for form in part_property_formset %}
        <div class="property-form">
            {{ form|crispy }}
        </div>
    {% endfor %}

    <!-- Botones de acción -->
    <input type="submit" value="Save" class="btn btn-primary">
    <input type="button" onclick="window.location='{% url 'vehicles:part_list' %}'; return false;" value="Cancel" class="btn btn-secondary">
</form>

{% endblock %}
